.title {
    color: $color-text-surface;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 16px;
    text-transform: capitalize;
    letter-spacing: -3.2px;
}

.subtitle {
    color: $color-white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}