.Workout_btn {
    margin-top: 86px;

    @media(max-width: 767.98px) {
        margin-top: 32px;
    }
}

.image_box {
    max-width: calc(100% - 50px);
}

.image {
    height: auto;
}

@media(max-width: 767.98px) {
    .image_box {
        max-width: none;
    }

    .image {
        height: auto;
    }
}

.plus {
    background-color: $color-accent;
    width: 40px;
    height: 108px;
    position: absolute;
    transform: rotate(45deg);
    top: 29%;
    left: -4%;

    @media(max-width: 767.98px) {
        width: 14px;
        height: 39px;
        top: 32%;
        left: 0%;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $color-accent;
        width: 40px;
        height: 108px;
        transform: rotate(90deg);

        @media(max-width: 767.98px) {
            width: 14px;
            height: 39px;
        }
    }
}