// ============= COLORS =============== //
$color-black: #000000;
$color-white: #ffffff;

$color-primary: #4224ff;
$color-accent: #ebff00;

$color-text-muted: #cfcfcf;
$color-text-surface: #f9f8fd;

$color-background-primary-dark: #181818;
$color-background-secondary-dark: #171717;

// =========== BORDER =================== //
$border-radius_70: 70px;
$border-radius_80: 80px;
$border-color: #FFFFFF3D;

// =============== SPACES ============ //
$x_96_spaces: 96px;
$x_80_spaces: 80px;