.list {
    flex: 1;
    .color_card {
        height: 403px;
        // width: 232px;
        border-radius: 220px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 34px;
        color: $color_black;

        &:not(:first-of-type) {
            color: $color_white;
        }

        &:nth-of-type(3) {
            transform: translateX(30px);
            z-index: -1;
        }
        &:nth-of-type(2) {
            transform: translateX(60px);
            z-index: -1;
        }
        &:nth-of-type(1) {
            transform: translateX(90px);
            z-index: -1;
        }

        .color_label {
            font-weight: 800;
            font-size: 24px;
            margin-bottom: 4px;
        }

        .color_code {
         font-size: 20px;
        }
    }
}