.section {
    border: 1px solid #FFFFFF3D;
    padding: 85px 0;
    border-radius: $border-radius_80;
    position: relative;

    @media(max-width: 767.98px) {
        height: 727px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        border-radius: 30px;
    }

    .shapes {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 24px 0;

        @media(max-width: 1199.98px) {
            >div {
                transform: scale(.8);
                flex: 1;

                &:first-of-type {
                    justify-content: flex-start;
                }

                &:nth-of-type(2) {
                    justify-content: center;
                }

                &:nth-of-type(3) {
                    justify-content: flex-end;
                }
            }
        }

        @media(max-width: 991.98px) {
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 20px;

            >div {
                transform: scale(1);
            }
        }

        @media(max-width: 767.98px) {
            flex-direction: column;
            gap: 60px;
            left: 0;
            top: 0;
            transform: translateY(0);
            padding: 42px 0 24px;
            >div {
                align-items: center;
            }
        }

        .semicircle {
            width: 308px;
            height: 154px;
            position: relative;
            overflow: hidden;
            border-bottom-right-radius: 154px;
            border-bottom-left-radius: 154px;
            transform: rotate(-45deg) translateY(64px);
            background-color: $color-background-primary-dark;

            @media(max-width: 991.98px) {
                width: 196px;
                height: 98px;
                border-bottom-right-radius: 98px;
                border-bottom-left-radius: 98px;
            }

            @media(max-width: 767.98px) {
                transform: rotate(-45deg) translateY(0);
            }
        }

        .square {
            background-color: $color-background-primary-dark;
            width: 210px;
            height: 210px;
            transform: rotate(45deg);

            @media(max-width: 991.98px) {
                width: 133px;
                height: 133px;
            }
        }

        .plus {
            background-color: $color-background-primary-dark;
            width: 298px;
            height: 76px;
            position: relative;

            @media(max-width: 991.98px) {
                width: 170px;
                height: 43px;
            }

            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                content: "";
                background-color: $color-background-primary-dark;
                width: 75px;
                height: 295px;

                @media(max-width: 991.98px) {
                    width: 43px;
                    height: 170px;
                }
            }
        }
    }
}