.footer {
    background-color: #0F1112;
    border: 1px solid $border-color;
    border-radius: $border-radius_80;
    padding: 84px 40px;

    @media(max-width: 767px) {
        border-radius: 30px;

    }

    .text {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF80;

    }

    .title {
        font-size: 54px;
        font-weight: 700;
        margin: 23px 0;
    }

    .link {
        color: $color-accent;
        font-size: 24px;
        font-weight: 400;
        text-decoration: underline;
    }

    @media(max-width: 767px) {
        .text {
            font-size: 12px;
        }
        .title {
            font-size: 32px;
        }
        .link {
            font-size: 14px;
        }
    }
}